@font-face {
    font-family: Roboto_Thin;
    src: url(../Resources/fonts/Roboto/Roboto-Thin.ttf)
}
@font-face {
    font-family: Roboto_Thin_Italic;
    src: url(../Resources/fonts/Roboto/Roboto-ThinItalic.ttf)
}
@font-face {
    font-family: Roboto_Light;
    src: url(../Resources/fonts/Roboto/Roboto-Light.ttf)
}
@font-face {
    font-family: Roboto_Light_Italic;
    src: url(../Resources/fonts/Roboto/Roboto-LightItalic.ttf)
}
@font-face {
    font-family: Roboto_Regular;
    src: url(../Resources/fonts/Roboto/Roboto-Regular.ttf)
}

body {
    margin: 0px;
    font-family: Roboto_Light;
    background-color: #f1f1f1;
}

div#topMenu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0px -6px 40px 0px #404040;
    z-index: 9000;
    background-color: #5b6e7d;
    text-align: center;
    height: 53px;
    padding-top: 2px;
}

ul#topMenuList {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    width: 90%; 
}

ul#topMenuList > li {
    float: right;
    width: 19%;
    min-width: 100px;
}

.topMenuButton {
    color: #f5fefa;
    vertical-align: middle;
    display: table-cell;
    height: 50px;
    padding: 0% 10% 0% 10%;
    text-decoration: none;
    border-radius: 3px;
    min-width: 90px;
}

.topMenuButton:hover {
    background-color: #7f92a0;
}

div#sideMenu {
    z-index: 9999;
    position: fixed;
    width: 235px;
    height: 100%;
    top: 55px;
    left: -250px;
    opacity: 0.95;
    background-color: #36424c;
    box-shadow: 4px 0px 10px grey;
}

li.sideMenuButton {
    height: 35px;
    width: 100%;
    border: #505050 1px solid;
    margin: 1px 1px 1px -1px;
    box-shadow: 0px 0px 3px 1px #2b2b2b;
}

li.sideMenuButton > a > img{
    vertical-align: middle;
    padding: 1% 5% 1% 1%;
}

li.sideMenuButton > a {
    text-decoration: none;
    padding-top: 5px;
}

li.sideMenuButton > a:visited {
    color: mintcream;
    text-decoration: none;
}

li.sideMenuButton:hover {
    background-color: #565554;
}

img#avatar {
    object-fit:cover;
    height: 15%;
    width: 100%;
}

div#pageContent {
    position: absolute;
    top: 55px;
    width: 100%;
    height: calc(100vh - 55px);
    background-color: #f1f1f1;
}

div#pageContent > table {
    margin: 2% auto auto auto;
}

div#placesListHeader {
    text-align: left;
    padding: 10px 25px 10px 25px;
    max-width: 550px;
    min-width: 550px;
    margin: auto;
    background: #E3E5E8;
    font-size: xx-large;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

li.placesListItem {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    max-width: 511px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    text-align: left;
    font-size: initial;
}

#placesListItemFirstRow > td > img{
    min-width: 500px;
    max-width: 500px;
    min-height: 200px;
    max-height: 200px;
    border: 1px solid black;
}
#placesListItemSecondRow > td:nth-child(1) {
    width: 46%;
    font-weight: bold;
    padding: 2%;
    background-color: #eaeaea;
}
#placesListItemSecondRow > td:nth-child(2) {
    width: 22%;
    font-style: italic;
    padding: 2%;
    background-color: #eaeaea;
    border-left: 1px solid #cecece;
}
#placesListItemSecondRow > td:nth-child(3) {
    width: 32%;
    font-style: italic;
    padding: 2%;
    background-color: #eaeaea;
    border-left: 1px solid #cecece;
}
#placesListItemSecondRow > td:nth-child(3) > div:nth-child(1) {
    text-align: center;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background: #c6d3e4;
    color: #212d37;
    border: 1px solid #8a8a8a;
    border-radius: 7px;
}
#placesListItemSecondRow > td:nth-child(3) > div:nth-child(2) {
    padding-top: 5px;
    text-align: center;
    font-style: normal;
    font-size: small;
}

#placesListItemSecondRow > td:nth-child(2) > span {
    vertical-align: super;
    padding-left: 5%;
}

#placesListItemThirdRow > td {
    width: 100%;
    border-top: 0.5px solid #cecece;
    border-bottom: 0.5px solid #cecece;
    box-shadow: 0px 1px 0px 0px #383838;
    min-height: 75px;
    vertical-align: text-top;
    padding: 2%;
    background-color: #f1f1f1;
}

#placesListItemFourthRow > td {
    text-align: right;
    padding: 2%;
    background-color: #eaeaea;
}

.slickImage > img {
    height: 250px;
    width: 500px;
}

.slick-slider {
    margin: -1px !important;
}

#scheduleList > ul {
    list-style-type: none;
}

.scheduleListItem {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 500px;
    min-width: 500px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.scheduleListItem > table {
    width: 100%;
    background-color: rgba(16, 90, 152, 0.2);
}

#scheduleListItemFirstRow > td {
    background: #a7b1c1;
    width: 65%;
    height: 65px;
    text-align: left;
    padding: 2%;
    font-weight: bold;
    font-size: x-large;
    border-bottom: 0.5px solid #cecece;
}

#scheduleListItemSecondRow > td {
    background: #f3f3f3;
    font-size: medium;
    padding: 1% 2% 1% 2%;
    border-bottom: 0.5px solid #cecece;
}

#scheduleListItemThirdRow > td{
    background: #f3f3f3;
    font-size: medium;
    padding: 1% 2% 1% 2%;
    border-bottom: 0.5px solid #cecece;
}

#scheduleListItemFourthRow > td {
    text-align: left;
    padding: 3% 2%;
    vertical-align: text-top;
    font-size: large;
    background: #fbfbfb;
}

div#selectedProject {
    padding: 2% 5% 1% 10%;
    color: mintcream;
    font-size: medium;
    border-top: 1px solid #5b6e7d;
    margin-top: 1%;
}

#mapPanel {
    box-shadow: 0px 0px 3px 1px #888787;
    min-width: 200px;
    margin-left: 3px;
    width: 29%;
    height: calc(100vh - 55px);
    float: left;
    min-height: 380px;
}

#map {
    float: left;
    width: 70%;
}


#mapContent:after {
    content: "";
    clear: both;
    display: table;
}

#projectsSubMenu, #collectionsSubMenu, #tagsSubMenu {
    list-style-type: none !important;
    margin-right: 5px;
}

#projectsSubMenu > li, #collectionsSubMenu > li, #tagsSubMenu > li {
    padding: 3px 0px 3px 5px;
    border: 1px solid rgb(86, 87, 85);
    background: rgb(65, 74, 82);
    box-shadow: rgb(43, 43, 43) 0px 0px 3px 1px;
    margin: 1px;
    border-bottom-left-radius: 10px;
}

#scheduleListHeader {
    text-align: left;
    padding: 10px 25px 10px 25px;
    max-width: 550px;
    min-width: 550px;
    margin: auto;
    background: #E3E5E8;
    font-size: xx-large;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    list-style-type: none;
}

#emptyList {
    text-align: center;
    font-size: x-large;
}

#placeInput {
    display: block;
    margin: 2% auto 1%;
    height: 30px;
    width: calc(90% - 33px);
    padding: 2px 6px;
    float: left;
    border: 1px solid rgb(182, 181, 181);
    font-family: Roboto_Light;
    font-size: smaller;
}

#placeInput:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #cacaca;
}

#placeSubmit {
    margin: 2% -1px 1%;
    width: 40px;
    height: 36px;
    padding: 2px 6px;
    border: 1px solid rgb(190, 190, 190);
    background: #d6dbdf;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

div#detailedInfo {
    height: calc(100% - 68px);
    width: 95%;
    position: relative;
    margin: auto;
    box-shadow: 0px 0px 1px 0px #9b9b9b;
}
div.detailedInfoSegment {
    width: 100%;
    float:left;
}
    div.detailedInfoSegment > table {
        background: #e2ecf3;
        width: 90%;
        padding: 2% 0%;
        margin: auto;
        font-size: small;
        box-shadow: inset 0px 0px 2px 0px #88bde2;
    }
    div.detailedInfoSegment:nth-of-type(1) {
        position: relative;
        height: 20%;
        min-height: 100px;
    }
    div.detailedInfoSegment:nth-of-type(2) {
        height: calc(95vh - 223px);
        position: relative;
        margin-top: 7px;
    }
    .detailedInfoSegment > table > tbody > tr {
        text-align: center;
    }

#PlaceDetails {
    width: 85%;
    margin: auto;
    padding: 1% 2%;
    font-size: smaller;
    box-shadow: inset 0px 0px 10px 0px #cccccc;
    background: #e8e8e8;
}
#PlaceGPS {
    margin-top: 3%;
}
#PlaceName {
    font-size: larger !important;
    padding: 2% 2% 0%;
    margin: auto;
    width: 88%;
    font-size: medium;
    border-bottom: 1px solid #848587;
}

#weatherButton, #forecastButton {
    width: 45% !important;
    font-family: Roboto_light;
    border-top: none;
    border-bottom: 1px solid #848587;
    border-left: none;
    border-right: none;
    font-size: medium;
    background: #f1f1f1;
    box-shadow: 0px 0px 1px 1px #cacaca;
}
#weatherButton {
    margin: 0% 1px 0% 4%;
}
#weatherButton:focus, #forecastButton:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px #848587!important;
}

#forecastButton {
    margin: 0% 4% 0% 1px;
}

#weatherTemperature {
    font-size: xx-large;
}
#wind, #humidity, #pressure {
    text-align: center;
}

td.forecastTempExtremes > div:nth-of-type(1) {
    background: #FFEB3B;
    padding: 2px;
    border-radius: 5px;
}

td.forecastTempExtremes > div:nth-of-type(2) {
    background: rgb(151, 223, 255);
    padding: 2px;
    border-radius: 5px;
}

ul#list-forecast {
    display: none;
    font-size: small;
    text-align: center;
    padding: 0px;
    margin: auto;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    max-height: calc(95vh - 235px);
    min-height: 150px;
}
ul#list-forecast > table {
    width: 100%;
    padding: 1% 5%;
    background: #e2ecf3;
    box-shadow: inset 0px 0px 2px 0px #88bde2;
}


@media (max-width: 677px ), (max-height: 380px) {
    #map {
        width: 100% !important;
    }
    #mapCanvas {
        height: calc(70vh - 55px) !important;
    }
    #mapPanel {
        width: 100% !important;
        margin-left: 0px;
        margin-top: 3px;
    }
    #detailedInfo {
        height: calc(100% - 85px) !important;
    }
    div.detailedInfoSegment:nth-of-type(2) {
        margin-top: 15px;
    }
    #list-forecast {
        max-height: calc(95vh - 275px) !important;
    }

}