body {
    margin: 0px;
}

div#topMenu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0px -6px 40px 0px #404040;
    z-index: 9000;
    background-color: #5b6e7d;
    text-align: center;
    height: 53px;
    padding-top: 2px;
}

ul#topMenuList {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    width: 90%; 
}

ul#topMenuList > li {
    float: left;
    width: 19%;
    margin: 0px 0.25% 0px 0.25%;
}

.topMenuButton {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #e6e6e6;
}

.topMenuButton:hover {
    background-color: #bbbbbb;
}

div#sideMenu {
    z-index: 9999;
    position: fixed;
    width: 235px;
    height: 100%;
    top: 55px;
    left: 0px;
    opacity: 0.95;
    background-color: #36424c;
    box-shadow: 4px 0px 10px grey;
}


li.sideMenuButton {
    height: 35px;
    width: 100%;
    border-bottom: #4A4949 1px solid;
}

li.sideMenuButton > img{

}

li.sideMenuButton:hover {
    background-color: #565554;
}

img#avatar {
    object-fit:cover;
    height: 15%;
    width: 100%;
}

div#pageContent {
    position: absolute;
    top: 55px;
    width: 100%;
    height: 150%;
    background-color: #f1f1f1;
}